<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(20,20,20,0.6) 0%, rgba(20,20,20,0.6) 50%), url('https://res.cloudinary.com/drq2pi5ow/image/upload/v1542105515/Penguin-Wallpaper-In-High-Definition-.jpg');">
  <div class="banner-content">
    <div id="main-title">Book a friend<span id="space"> </span><span class="js-text js-text5">to do anything</span></div>
    <div class="forms-search" id="form-form">
      <div>
        <%= form_tag moments_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            id:"form-start",
            placeholder: "Search for your next buddy"
          %>
      </div>
      <div>
        <%= button_tag "Search" , class: "btn-search"%>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <%=  link_to 'match', match_path, class: "btn-search" %>
      <% end %>
    </div>
  </div>
</div>

<!-- Pricing -->
<section id="pricing" class="pricing section">
    <div class="container">
        <div class="row">
            <div class="col-10 col-lg-12 mx-auto">
                <div class="row">
                    <div class="col">
                        <h2 class="lg-font-size font-weight__500 text-center">
                Pricing
              </h2>
                    </div>
                </div>
                <!-- Empty Space -->
                <div class="md-space"></div>
                <!-- Emty Space -->
                <div class="row">
                    <div class="col-12 mx-auto">
                        <div class="row">
                            <div class="col-12 col-lg-4 pricing-wrap box box-shadow rounded p-3 my-3 my-lg-5">
                                <div class="pricing-inner text-center p-5 p-md-3 p-xl-5">
                                    <h3 class="pricing-inner__title lg-font-size">Basic Buddy</h3>
                                    <!-- Empty Space -->
                                    <div class="md-space"></div>
                                    <!--/ End Empty Space -->
                                    <div class="pricing-inner__price price">
                                        <span class="price__amount d-inline-block">€25</span> <span class="d-inline-block"> <span class="price__currency xl-font-size d-block font-weight__900">EUR</span> <span class="price__time sm-font-size">1-day engagement</span></span>
                                    </div>
                                    <div class="pricing-inner__info"><span>3 hours buddy presence</span></div>
                                    <!-- Empty Space -->
                                    <div class="md-space"></div>
                                    <!--/ End Empty Space -->
                                    <ul class="pricing-inner__list list-unstyled sm-font-size">
                                        <li><span class="text-success"><i class="fa fa-check"></i></span> Meet your buddy for a drink, lunch or dinner at a common place</li>
                                        <li><span><i class="text-success fa fa-check"></i></span> The buddy can help you with local city information</li>
                                        <li><span><i class="text-success fa fa-check"></i></span> Fusce in venenatis ligula</li>
                                    </ul>
                                    <div class="col text-center mt-md-5">
                                        <a href="#" class="btn btn-lg btn-primary px-md-5">Get Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 active pricing-wrap box box-shadow my-3 my-lg-0">
                                <div class="pricing-inner text-center p-5 p-md-3 p-xl-5">
                                    <h3 class="pricing-inner__title lg-font-size">Accommodation Buddy</h3>
                                    <!-- Empty Space -->
                                    <div class="md-space"></div>
                                    <!--/ End Empty Space -->
                                    <div class="pricing-inner__price price">
                                        <span class="price__amount d-inline-block">€25</span> <span class="d-inline-block"> <span class="price__currency xl-font-size d-block font-weight__900">EUR</span> <span class="price__time sm-font-size">one-time</span></span>
                                    </div>
                                    <div class="pricing-inner__info"><span>1 person</span></div>
                                    <!-- Empty Space -->
                                    <div class="md-space"></div>
                                    <!--/ End Empty Space -->
                                    <ul class="pricing-inner__list list-unstyled sm-font-size">
                                        <li><span class="text-success"><i class="fa fa-check"></i></span> Helping the newcomer to find an accommodation in the city</li>
                                        <li><span><i class="text-success fa fa-check"></i></span> Meetings – Information about localities, price ranges, making phone calls - €15/meeting</li>
                                        <li><span><i class="text-success fa fa-check"></i></span> Buddy accompanied Visits - €15/hour
</li>
                                    </ul>
                                    <div class="col text-center mt-md-5">
                                        <a href="#" class="btn btn-lg btn-secondary px-md-5">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 pricing-wrap box box-shadow rounded p-3 my-3 my-lg-5">
                                <div class="pricing-inner text-center p-5 p-md-3 p-xl-5">
                                    <h3 class="pricing-inner__title lg-font-size">City Tour Buddy</h3>
                                    <!-- Empty Space -->
                                    <div class="md-space"></div>
                                    <!--/ End Empty Space -->
                                    <div class="pricing-inner__price price">
                                        <span class="price__amount d-inline-block">€40</span> <span class="d-inline-block"> <span class="price__currency xl-font-size d-block font-weight__900">EUR</span> <span class="price__time sm-font-size">one time</span></span>
                                    </div>
                                    <div class="pricing-inner__info"><span>Visiting tourist spots within the city</span></div>
                                    <!-- Empty Space -->
                                    <div class="md-space"></div>
                                    <!--/ End Empty Space -->
                                    <ul class="pricing-inner__list list-unstyled sm-font-size">
                                        <li><span class="text-success"><i class="fa fa-check"></i></span> €20/person - 2 hour-tour</li>
                                        <li><span><i class="text-success fa fa-check"></i></span> €40/person - 4 hour-tour</li>
                                        <li><span><i class="text-success fa fa-check"></i></span> €60/person - 6 hour-tour</li>
                                    </ul>
                                    <div class="col text-center mt-md-5">
                                        <a href="#" class="btn btn-lg btn-primary px-md-5">Get Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
